n8n_telegram_workflow.json
{
  "name": "Laika Telegram Bot (B2B Async)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "e98e207b-8b9a-4c9f-8a1a-3e8f8b8e8b8e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://laika_api:8000/v1/hooks/n8n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"telegram_user_default\",\n  \"thread_id\": \"{{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}\",\n  \"channel\": \"telegram\",\n  \"user_query\": \"{{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}\",\n  \"metadata\": {\n    \"user_name\": \"{{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"first_name\"] }}\"\n  }\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LAIKA_JWT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a1a1a1-b1b1-c1c1-d1d1-e1e1e1e1e1e1",
      "name": "Send to Laika API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "laika-telegram-reply",
        "options": {}
      },
      "id": "f2f2f2f2-a2a2-b2b2-c2c2-d2d2d2d2d2d2",
      "name": "Laika Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 450],
      "webhookId": "laika-telegram-reply"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Laika Reply Webhook\"].json[\"body\"][\"thread_id\"] }}",
        "text": "={{ $node[\"Laika Reply Webhook\"].json[\"body\"][\"response\"] }}",
        "options": {}
      },
      "id": "c3c3c3c3-d3d3-e3e3-f3f3-a3a3a3a3a3a3",
      "name": "Reply to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [450, 450],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send to Laika API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laika Reply Webhook": {
      "main": [
        [
          {
            "node": "Reply to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
